*{
    margin: 0px;
}

.grid-container{


    display: grid;
    /*grid-column: 3;
    grid-row: 1;*/
    grid-template-columns: 1fr 1fr 1fr;
    border: 1px solid black;
    height: 99.8vh;
}

.grid-container div{
    background-color: white;
}

#verde:first-child{
    background-color: green;
}


#rojo:last-child{
    background-color: red;

}
#blanco:nth-child(2){
    display: grid;
    justify-content: center;
    align-items: center;

}
#img{
    width: 200px;
    height: 200px;
}